
.btn,
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 100px;
    font-size: 2.5rem;
    position: relative;
    transition: all .85s;

    border: none;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgb(0, 0, 0,0.2);
}

.btn:active{
    transform: translateY(-.5rem);
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0,0.2);
}

.btn-white{
    background-color: rgb(243, 236, 236);
    color: rgb(11, 124, 45);
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .5s;
}

.btn-white::after{
    color: rgb(129, 16, 16);
}

.btn:hover::after {
    transform: scale(1.4);
    opacity: 0;
}

.btn-anim{
    animation-name: movebtn;
    animation-duration: 1s;
    animation-delay: .78s;
    animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text::visited{

}
.btn-text{
    font-size: 1.6rem;
    color: rgb(35, 197, 71);
    text-decoration: none;
    border-bottom: 1px solid green;
    display: inline-block;
    padding: 6px 6px 3px 0 ;
    font-weight: 700;
    // &:hover{
    //     color: rgb(213, 226, 216);
    //     background-color: rgb(35, 197, 71);
    // }
}

.btn-text:hover{
    color: rgb(213, 226, 216);
    background-color: rgb(35, 197, 71);
    box-shadow: 0 1rem 2rem  rgb(10, 10, 10, .15);
}