.story_video{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.bag_video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter:  blur(2px) brightness(65%);
    opacity: .5;
}